.container{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin-left: 30px;
  }
.pro1{
    width: 80%;
    margin: 10px;
    transition: transform 330ms;
}
  
.pro1:hover{
    transform: scale(1.15);
}